<h3>New Person</h3>

<form {{action 'create' on="submit"}}>
  <div class="form-group {{if model.errors.first_name 'has-danger'}}">
    <label for="first_name" class="form-control-label">First name</label>
    {{input type="text" name="first_name" class="form-control" value=model.first_name}}
    {{#each model.errors.first_name as |error|}}
      <span class="form-control-feedback">{{error.message}}</span>
    {{/each}}
  </div>
  <div class="form-group {{if model.errors.last_name 'has-danger'}}">
    <label for="last_name" class="form-control-label">Last name</label>
    {{input type="text" name="last_name" class="form-control" value=model.last_name}}
    {{#each model.errors.last_name as |error|}}
      <span class="form-control-feedback">{{error.message}}</span>
    {{/each}}
  </div>
  <div class="form-group {{if model.errors.email 'has-danger'}}">
    <label for="email" class="form-control-label">Email</label>
    {{input type="email" name="email" class="form-control" value=model.email}}
    {{#each model.errors.email as |error|}}
      <span class="form-control-feedback">{{error.message}}</span>
    {{/each}}
  </div>
  <div class="form-group {{if model.errors.age 'has-danger'}}">
    <label for="age" class="form-control-label">Age</label>
    {{input type="text" name="age" class="form-control" value=model.age}}
    {{#each model.errors.age as |error|}}
      <span class="form-control-feedback">{{error.message}}</span>
    {{/each}}
  </div>
  <div class="form-group {{if model.errors.gender 'has-danger'}}">
    <label for="gender" class="form-control-label">Gender</label>
    <select onchange={{action (mut model.gender) value="target.value"}} class="form-control">
      <option></option>
      {{#each model.genderOptions as |gender|}}
        <option value={{gender.value}}>{{gender.display}}</option>
      {{/each}}
    </select>
    {{#each model.errors.gender as |error|}}
      <span class="form-control-feedback">{{error.message}}</span>
    {{/each}}
  </div>
  <div class="btn-toolbar justify-content-between" role="toolbar">
    <div>
      <button type="submit" class="btn btn-primary mr-2" role="button">Save</button>
      {{!-- <a href="#" class="btn btn-secondary">Save and add person</a> --}}
    </div>
    <div>
      {{#link-to 'households.show' model.household class="btn btn-secondary"}}Cancel{{/link-to}}
    </div>
  </div>
</form>
